In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# from sklearn.cross_validation import train_test_split
# from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

ImportError: No module named sklearn.preprocessing

In [71]:
#Load data
data = pd.read_csv("Pima_Indian_diabetes.csv")

In [72]:
data["PatientID"]=data.index

In [82]:
data[data.Outcome == 1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,PatientID
0,6,148.000000,72,35,0,33.6,0.627,50.000000,1,0
2,8,183.000000,64,0,0,23.3,0.672,32.000000,1,2
4,0,137.000000,40,35,168,43.1,2.288,33.000000,1,4
6,3,78.000000,43.8693464962,32,88,31,0.248,26.000000,1,6
8,2,197.000000,70,45,543,30.5,0.158,NaN,1,8
9,8,125.000000,96,NaN,0,0,0.232,68.636341,1,9
11,10,168.000000,74,0,0,38,0.537,34.000000,1,11
13,1,189.000000,60,23,846,30.1,0.398,59.000000,1,13
14,5,146.526788,72,19,175,25.8,0.587,51.000000,1,14
15,7,100.000000,0,0,0,30,0.484,32.000000,1,15
16,0,118.000000,84,47,230,45.8,0.551,31.000000,1,16
17,7,107.000000,74,0,0,29.6,0.254,31.000000,1,17
19,1,115.000000,70,30,96,34.6,0.529,32.000000,1,19
22,7,196.000000,90,0,0,39.8,0.451,41.000000,1,22
23,9,119.000000,80,35,0,29,0.263,29.000000,1,23
24,11,143.000000,94,33,146,36.6,0.254,51.000000,1,24
25,10,125.000000,70,26,115,31.1,0.205,41.000000,1,25
26,7,147.000000,76,0,0,39.4,0.257,43.000000,1,26
31,3,158.000000,76,36,245,31.6,0.851,28.000000,1,31
37,9,102.000000,76,37,0,32.9,0.665,46.000000,1,37
38,2,90.000000,68,42,0,38.2,0.503,27.000000,1,38
39,4,111.000000,72,47,207,37.1,1.390,56.000000,1,39
43,0.0087867622,145.181093,110,24,240,45.4,0.721,54.000000,1,43
45,0,180.000000,66,39,0,42,1.893,25.000000,1,45
48,7,103.000000,66,32,0,39.1,0.344,31.000000,1,48
53,8,NaN,90,34,300,33.7,0.467,58.000000,1,53
56,7,169.308148,68,39,304,37.7,0.254,41.000000,1,56
61,8,133.000000,72,0,0,32.9,0.270,39.000000,1,61
64,7,114.000000,66,0,0,32.8,0.258,42.000000,1,64
66,0,109.000000,88,30,0,32.5,0.855,38.000000,1,66
...,...,...,...,...,...,...,...,...,...,...
693,7,129.000000,68,49,125,NaN,0.439,NaN,1,693
695,7,142.000000,90,24,480,30.4,0.128,43.000000,1,695
696,3,NaN,74,19,125,29.9,0.268,31.000000,1,696
701,6,125.000000,78,31,0,27.6,0.565,49.000000,1,701
702,1,168.000000,88,29,0,35,0.905,52.000000,1,702
706,10,115.000000,0,0,0,0,0.261,30.000000,1,706
708,9,164.000000,78,0,0,32.8,0.148,45.000000,1,708
709,2,93.000000,64,32,160,38,0.674,23.000000,1,709
712,10,129.000000,62,36,0,41.2,0.441,38.000000,1,712
715,7,187.000000,50,NaN,392,33.9,0.826,34.000000,1,715
716,3,173.000000,76.6987423834,39,185,33.8,0.970,31.000000,1,716
719,5,97.000000,71.604032398,27,0,35.6,0.378,52.000000,1,719
722,1,149.000000,68,29,127,29.3,0.349,42.000000,1,722
730,3,130.000000,78,14.5470984023,79,28.4,0.323,34.000000,1,730
731,8,120.000000,86,0,0,28.4,0.259,22.000000,1,731
732,2,174.000000,88,37,120,44.5,0.646,24.000000,1,732
739,1,102.000000,74,0,0,39.5,0.293,42.000000,1,739
740,NaN,120.000000,80,37,150,42.3,0.785,48.000000,1,740
743,9,140.000000,94,0,0,32.7,0.734,45.000000,1,743
746,1,147.000000,94,41,0,49.3,0.358,27.000000,1,746
748,3,187.000000,70,22,200,36.4,0.408,36.000000,1,748
749,6,162.000000,62,0,0,24.3,0.178,NaN,1,749
750,4,136.000000,64.4557020042,0,0,31.2,1.182,22.000000,1,750
753,0,181.000000,88,44,510,43.3,0.222,26.000000,1,753
754,8,154.000000,78,32,0,32.4,0.443,45.000000,1,754
755,1,128.000000,88,39,110,36.5,1.057,37.000000,1,755
757,0,123.000000,72,0,0,36.3,0.258,52.000000,1,757
759,6,190.000000,92,0,0,35.5,0.278,66.000000,1,759
761,9,170.000000,74,31,0,44,0.403,43.000000,1,761
766,1,126.000000,60,0,0,30.1,0.349,47.000000,1,766

In [78]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,PatientID
0,6,148.000000,72,35,0,33.6,0.627,50.000000,1,0
1,1,85.000000,66,29,0,26.6,0.351,31.000000,0,1
2,8,183.000000,64,0,0,23.3,0.672,32.000000,1,2
3,1,89.000000,66,23,94,19.1799251631,0.167,21.000000,0,3
4,0,137.000000,40,35,168,43.1,2.288,33.000000,1,4
5,5,116.000000,74,0,0,25.6,0.201,30.000000,0,5
6,3,78.000000,43.8693464962,32,88,31,0.248,26.000000,1,6
7,10,115.000000,0,0,0,35.3,0.134,29.000000,0,7
8,2,197.000000,70,45,543,30.5,0.158,NaN,1,8
9,8,125.000000,96,NaN,0,0,0.232,68.636341,1,9
10,4,110.000000,92,0,0,37.6,0.191,30.000000,0,10
11,10,168.000000,74,0,0,38,0.537,34.000000,1,11
12,10,139.000000,75.8289027769,0,0,27.1,1.441,57.000000,0,12
13,1,189.000000,60,23,846,30.1,0.398,59.000000,1,13
14,5,146.526788,72,19,175,25.8,0.587,51.000000,1,14
15,7,100.000000,0,0,0,30,0.484,32.000000,1,15
16,0,118.000000,84,47,230,45.8,0.551,31.000000,1,16
17,7,107.000000,74,0,0,29.6,0.254,31.000000,1,17
18,NaN,103.000000,30,38,83,43.3,0.183,33.000000,0,18
19,1,115.000000,70,30,96,34.6,0.529,32.000000,1,19
20,3,126.000000,88,41,235,39.3,0.704,27.000000,0,20
21,8,99.000000,84,0,0,35.4,0.388,50.000000,0,21
22,7,196.000000,90,0,0,39.8,0.451,41.000000,1,22
23,9,119.000000,80,35,0,29,0.263,29.000000,1,23
24,11,143.000000,94,33,146,36.6,0.254,51.000000,1,24
25,10,125.000000,70,26,115,31.1,0.205,41.000000,1,25
26,7,147.000000,76,0,0,39.4,0.257,43.000000,1,26
27,1,97.000000,66,15,140,23.2,0.487,22.000000,0,27
28,13,145.000000,82,19,110,22.2,0.245,57.000000,0,28
29,NaN,79.173309,92,NaN,0,34.1,0.337,38.000000,0,29
...,...,...,...,...,...,...,...,...,...,...
738,+AC0-5.4128147485,NaN,60,17,160,36.6,0.453,21.000000,0,738
739,1,102.000000,74,0,0,39.5,0.293,42.000000,1,739
740,NaN,120.000000,80,37,150,42.3,0.785,48.000000,1,740
741,3,102.000000,44,20,94,30.8,0.400,26.000000,0,741
742,1,109.000000,58,18,116,28.5,0.219,32.641218,0,742
743,9,140.000000,94,0,0,32.7,0.734,45.000000,1,743
744,13,153.000000,88,37,140,40.6,1.174,39.000000,0,744
745,12,100.000000,84,NaN,105,30,0.488,46.000000,0,745
746,1,147.000000,94,41,0,49.3,0.358,27.000000,1,746
747,1,81.000000,74,41,57,46.3,1.096,32.000000,0,747
748,3,187.000000,70,22,200,36.4,0.408,36.000000,1,748
749,6,162.000000,62,0,0,24.3,0.178,NaN,1,749
750,4,136.000000,64.4557020042,0,0,31.2,1.182,22.000000,1,750
751,1,121.000000,78,39,74,39,0.261,28.000000,0,751
752,3,108.000000,62,24,0,26,0.223,25.000000,0,752
753,0,181.000000,88,44,510,43.3,0.222,26.000000,1,753
754,8,154.000000,78,32,0,32.4,0.443,45.000000,1,754
755,1,128.000000,88,39,110,36.5,1.057,37.000000,1,755
756,7,137.000000,90,41,0,32,0.391,39.000000,0,756
757,0,123.000000,72,0,0,36.3,0.258,52.000000,1,757
758,1,106.000000,76,0,0,37.5,0.197,26.000000,0,758
759,6,190.000000,92,0,0,35.5,0.278,66.000000,1,759
760,2,88.000000,58,26,16,28.4,0.766,22.000000,0,760
761,9,170.000000,74,31,0,44,0.403,43.000000,1,761
762,16.0473269947,89.000000,62,0,0,22.5,0.142,33.000000,0,762
763,10,101.000000,76,48,180,32.9,0.171,63.000000,0,763
764,2,122.000000,70,27,0,36.8,0.340,27.000000,0,764
765,5,121.000000,72,23,112,26.2,0.245,30.000000,0,765
766,1,126.000000,60,0,0,30.1,0.349,47.000000,1,766
767,1,93.000000,70,31,0,30.4,0.315,23.000000,0,767

In [33]:
type(df[738])

str

In [14]:
#CHECK FOR MISSING DATA
data.Pregnancies.isnull().sum()

26

In [30]:
data.Pregnancies.isnull().sum()

26

In [31]:
data.Glucose.isnull().sum()

16

In [32]:
data.BloodPressure.isnull().sum()

0

In [25]:
data.SkinThickness.isnull().sum()

22

In [26]:
data.Insulin.isnull().sum()

0

In [27]:
data.BMI.isnull().sum()

11

In [28]:
data.DiabetesPedigreeFunction.isnull().sum()

0

In [29]:
data.Age.isnull().sum()

19

In [19]:
data.Outcome.isnull().sum()

0

In [12]:
data.BMI.value_counts()

32                    13
31.2                  12
31.6                  12
33.3                  10
0                     10
32.4                  10
30.1                   9
32.9                   9
32.8                   9
30.8                   9
33.6                   8
34.2                   8
29.7                   8
30.5                   7
25.9                   7
30                     7
27.6                   7
35.5                   7
30.4                   7
39.4                   7
27.8                   7
33.2                   7
28.7                   6
25.2                   6
34.9                   6
34                     6
24.2                   6
32.5                   6
28.4                   6
28.9                   6
                      ..
19.1                   1
42.6                   1
52.9                   1
32.1                   1
46.5                   1
40.1                   1
48.8                   1
40.7                   1
5.3178991386           1
37.5                   1
67.1                   1
39.7                   1
40.2                   1
45.4                   1
43.1                   1
41                     1
40.8                   1
37.1                   1
23.4                   1
59.4                   1
53.2                   1
31.3                   1
26.7                   1
22.7                   1
30.3                   1
31.1                   1
+AC0-16.2889210354     1
19.4                   1
48.3                   1
32.6                   1
Name: BMI, Length: 256, dtype: int64

In [33]:
data.BMI.mean()

TypeError: can only concatenate str (not "int") to str